<html>
<head>
	<link rel="icon" href="/static/chart.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Clustering</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<style type="text/css">
		body {
			background-color: #E6E6E6;
		}
		.form-check-label{
			font-size: 90%;
			padding-right: 1em;
		}
		#tb-distances{
			font-size: 80%;
		}
		#tb-distances td{
			background-color: #E6E6E6;	
		}
		#repo-link{
			padding-top: 1em;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-10">
				<h1>Dataset Clustering Manager</h1>
			</div>
			<div id="repo-link" class="col-2">
				<a class="btn btn-lg btn-outline-dark"  target="_blank" href="https://github.com/marcosspalenza/clustering_optimization"><i class="bi bi-github"></i> GitHub</a>
			</div>
		</div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm">
					<h4> Usuário </h4>
					<input class="form-control" name="email" placeholder="Digite o email do usuário." type="text" autocomplete="off" required/>		
				</div>
				<div class="col-sm">
					<h4> Dataset </h4>
					<input class="form-control" name="file" placeholder="Selecione o dataset para envio." type="file" autocomplete="off" required/>
					<div class="form-check form-check-inline" required>
						<input class="form-check-input" type="radio" name="mod" id="radio-mod" value="sparse" checked>
						<label class="form-check-label" for="radio-mod">Esparso (.mtx)</label>
						<input class="form-check-input" type="radio" name="mod" id="radio-mod" value="dense">
						<label class="form-check-label" for="radio-mod">Denso (.mat)</label>
					</div>
				</div>
			</div>
			<h4> Algoritmo </h4>
			<div class="form-check form-check-inline" required>
				<input class="form-check-input" type="radio" name="alg" id="radio-alg" value="agglomerative" checked>
				<label class="form-check-label" for="radio-alg">Agglomerative</label>
			</div>
			<hr>
			<h4> Otimizador </h4>
			<div class="form-check form-check-inline" required>
				<input class="form-check-input" type="radio" name="opt" id="radio-opt" value="gprocess" checked>
				<label class="form-check-label" for="radio-opt">Gaussian Process</label>
				<input class="form-check-input" type="radio" name="opt" id="radio-opt" value="dtree">
				<label class="form-check-label" for="radio-opt">Decision Trees</label>
				<input class="form-check-input" type="radio" name="opt" id="radio-opt" value="dummy">
				<label class="form-check-label" for="radio-opt">Dummy (Random)</label>
			</div>
			<hr>
			<h4> Índice </h4>
			<div class="form-check form-check-inline" required>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="silhouette" checked>
				<label class="form-check-label" for="radio-idx">Silhouette Score</label>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="ch_score">
				<label class="form-check-label" for="radio-idx">Calinski-Harabasz Score</label>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="db_score">
				<label class="form-check-label" for="radio-idx">Davies-Bouldin Score</label>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="sse">
				<label class="form-check-label" for="radio-idx">Sum of Squared Errors</label>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="cv_distance">
				<label class="form-check-label" for="radio-idx">Coef. Var. Intra Cluster Distances</label>
				<input class="form-check-input" type="radio" name="idx" id="radio-idx" value="cv_size">
				<label class="form-check-label" for="radio-idx">Coef. Var. Cluster Sizes</label>
			</div>
			<hr>
			<h4> Métrica de Distância </h4>
			<div class="form-check form-check-inline" required>
				<table id="tb-distances" class="table">
				<tbody>
				<tr class="table-light">
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="braycurtis">
						<label class="form-check-label" for="radio-mtr">Bray-Curtis</label>    
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="canberra">
						<label class="form-check-label" for="radio-mtr">Canberra</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="chebyshev">
						<label class="form-check-label" for="radio-mtr">Chebyshev</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="correlation">
						<label class="form-check-label" for="radio-mtr">Correlation</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="cosine" checked>
						<label class="form-check-label" for="radio-mtr">Cosine</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="dice">
						<label class="form-check-label" for="radio-mtr">Dice</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="euclidean">
						<label class="form-check-label" for="radio-mtr">Euclidean</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="hamming">
						<label class="form-check-label" for="radio-mtr">Hamming</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="jaccard">
						<label class="form-check-label" for="radio-mtr">Jaccard</label>
					</td>
				</tr>
				<tr class="table-light">
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="kulsinski">
						<label class="form-check-label" for="radio-mtr">Kulsinski</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="mahalanobis">
						<label class="form-check-label" for="radio-mtr">Mahalanobis</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="manhattan">
						<label class="form-check-label" for="radio-mtr">Manhattan</label>    
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="matching">
						<label class="form-check-label" for="radio-mtr">Matching</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="minkowski">
						<label class="form-check-label" for="radio-mtr">Minkowski</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="rogerstanimoto">
						<label class="form-check-label" for="radio-mtr">Rogers-Tanimoto</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="russellrao">
						<label class="form-check-label" for="radio-mtr">Russell-Rao</label>    
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="sokalmichener">
						<label class="form-check-label" for="radio-mtr">Sokal-Michener</label>
					</td>
					<td>
						<input class="form-check-input" type="radio" name="mtr" id="radio-mtr" value="sokalsneath">
						<label class="form-check-label" for="radio-mtr">Sokal-Sneath</label>    
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<br>
			<button type="submit" class="btn btn-lg btn-outline-success" name="action">Enviar</button>
			<a href="/search" class="btn btn-lg btn-outline-primary">Dataset</a>
		</form>
	</div>
</body>
</html>

