<html>
<head>
	<link rel="icon" href="/static/chart.png" type="image/png">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Clustering</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<style type="text/css">
		body {
			background-color: #E6E6E6;
		}
		.form-check-label{
			font-size: 90%;
			padding-right: 1em;
		}
		#tb-distances{
			font-size: 80%;
		}
		#tb-distances td{
			background-color: #E6E6E6;	
		}
		#repo-link{
			padding-top: 1em;
		}
	</style>
</head>
<body>
	<div class="container p-5">
		<div class="row">
			<div class="col-10">
				<h1>Dataset Clustering Manager</h1>
			</div>
			<div id="repo-link" class="col-2">
				<a class="btn btn-lg btn-outline-dark"  target="_blank" href="https://github.com/marcosspalenza/clustering_optimization"><i class="bi bi-github"></i> GitHub</a>
			</div>
		</div>
		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col-sm">
					<h4> Usuário </h4>
					<input class="form-control" name="email" placeholder="Digite o email do usuário." type="text" autocomplete="off" required/>		
				</div>
				<div class="col-sm">
					<h4> Dataset </h4>
					<input class="form-control" name="file" placeholder="Selecione o dataset para envio." type="file" autocomplete="off" required/>
					<div class="form-check form-check-inline" required>
						<input class="form-check-input" type="radio" name="mod" id="radio-mod" value="sparse" checked>
						<label class="form-check-label" for="radio-mod">Esparso (.mtx)</label>
						<input class="form-check-input" type="radio" name="mod" id="radio-mod" value="dense">
						<label class="form-check-label" for="radio-mod">Denso (.mat)</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-6">
					<h4> Algoritmo </h4>
					<select class="form-select form-select-sm" name="alg" required>
						<option value="agglomerative" selected>Agglomerative</option>
					</select>
				</div>
				<div class="col-6">
					<h4> Otimizador </h4>
					<select class="form-select form-select-sm" name="opt" required>
						<option value="gprocess" selected>Gaussian Process</option>
						<option value="dtree">Decision Trees </option>
						<option value="dummy">Dummy (Random)</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-6">
					<h4> Índice </h4>
					<select class="form-select form-select-sm" name="idx" required>
						<option value="silhouette" selected>Silhouette Score</option>
						<option value="ch_score">Calinski-Harabasz Score</option>
						<option value="db_score">Davies-Bouldin Score</option>
						<option value="sse">Sum of Squared Errors</option>
						<option value="cv_distance">Coef. Var. Intra Cluster Distances</option>
						<option value="cv_size">Coef. Var. Cluster Sizes</option>
					</select>
				</div>
				<div class="col-6">
					<h4> Métrica de Distância </h4>
					<select class="form-select form-select-sm" name="mtr" required>
						<option value="braycurtis">Bray-Curtis</option>
						<option value="canberra">Canberra</option>
						<option value="chebyshev">Chebyshev</option>
						<option value="correlation">Correlation</option>
						<option value="cosine" selected>Cosine</option>
						<option value="dice">Dice</option>
						<option value="euclidean">Euclidean</option>
						<option value="hamming">Hamming</option>
						<option value="jaccard">Jaccard</option>
						<option value="kulsinski">Kulsinski</option>
						<option value="mahalanobis">Mahalanobis</option>
						<option value="manhattan">Manhattan</option>
						<option value="matching">Matching</option>
						<option value="minkowski">Minkowski</option>
						<option value="rogerstanimoto">Rogers-Tanimoto</option>
						<option value="russellrao">Russell-Rao</option>
						<option value="sokalmichener">Sokal-Michener</option>
						<option value="sokalsneath">Sokal-Sneath</option>
					</select>
				</div>
			</div>
			<hr>
			<br>
			<button type="submit" class="btn btn-lg btn-outline-success" name="action">Enviar</button>
			<a href="/search" class="btn btn-lg btn-outline-primary">Dataset</a>
		</form>
	</div>
</body>
</html>

